<%= form_for(repo_access_request) do |f| %>
  <% if repo_access_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repo_access_request.errors.count, "error") %> prohibited this repo_access_request from being saved:</h2>

      <ul>
      <% repo_access_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :repository %>
    <%= f.text_area :repository %>
  </div>

  <div class="field">
    <%= f.label :repo_group %>
    <%= f.text_area :repo_group %>
  </div>

  <div class="field">
    <%= f.label :level %>
    <%= f.text_field :level %>
  </div>

  <div class="field">
    <%= f.label :request_action %>
    <%= f.text_field :request_action %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
